html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    justify-content: center;
}
.main {
    width: 100%;
    height: auto;
}
.content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn {
    background-color: #ff0000;
    color: #fff;
    font-size: 18px;
    border: 1px solid #F64C2B;
    border-radius: 4px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .1em #800;
}
.btn-p {
    padding: 24px 87px;
}
.btn-g {
    background: linear-gradient(#00D86B, #00C868);
    border: 1px solid green;
    border-radius: 4px;
    box-shadow: none;
}
.modal-header .close {
    padding: 0;
    margin: 0 0 0 0;
    width: 32px;
    height: 32px;
    color: #FC2122;
}

.close i {
    font-size: 28px;
}
.nboerder {
    border: none !important;
}
h3 {
    font-family: 'Open Sans', sans-serif;
}
.img_hand {
    width: 7%;
    margin-left: 5%;
}
.img-form {
    display: inline-block;
    margin-right: 5px;
    background: url(../images/icons/icons.png);
    width: 37px;
    height: 43px;
}

.img-format-1 {
    background-position-x: 0;
}

.img-format-2 {
    background-position-x: -49px;
}
.img-format-3 {
    background-position-x: -96px;
}
.img-format-4 {
    background-position-x: -96px;
}
.img-format-5 {
    background-position-x: -96px;
}
.img-format-6 {
    background-position-x: -96px;
}
.img-format-7 {
    background-position-x: -96px;
}

.image-form {
    width: 100%;
    height: 90%;
}
.size-text span {
    color: #B4B4B4;
    font-size: 12px;
}